* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}
main {
    margin: 5em 4%;
    max-width: 1440px;
}
section {
    background-color: hsl(244, 38%, 16%);
}
.text, .stats {
    color: hsl(0, 0%, 100%);
    padding: 0 2.5rem;
}
 .text, .stats, .stats h2 {
    padding-bottom: 2rem;
}
.image {
    background-color: hsl(277, 94%, 37%);
    border-radius: 15px 15px 0 0;
    grid-row: 1;
    position: relative;
}
.image::after {
    display: block;
    content: '';
    /* 4:3 aspect ratio */
    padding-bottom: 75%;
}
.image img{
    border-radius: 15px 15px 0 0;
    height: 100%;
    left: 0;
    object-fit: cover;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}
.text {
    grid-row: 2;
    text-align: center;
}
h1 {
    font-size: 1.7rem;
    padding: 2rem 0 1rem;
}
.accent-color {
    color:hsl(277, 64%, 61%);
}
.text p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.8;
}
.stats {
    text-align: center;
}
.stats span {
    font-size: 1.25rem;
    font-weight: 700;
    grid-row: 3;
    line-height: 1.5;
}
.stats h2 {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: .825rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
}


@media (min-width: 1024px) {
    main {
        margin: 10%;
    }
    .grid {
        grid-template-columns: 50% 50%;
        display: grid;
    }

    .image {
        grid-column: 2;
    }
    .image, .image img {
        border-radius: 0 15px 15px 0;
    }
    section {
        border-radius: 15px 0 0 15px;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 13% 15% 13% 13%;
    }
    .text {
        padding: 0;
        text-align: left;
    }
    h1 {
        padding-top: 0;
    }
    .stats {
        display: flex;
        justify-content: space-between;
        grid-column: 1;
        grid-row: 2;
        text-align: left;
        padding: 4rem 2rem 0 0;
    }
    .stats h2 {
        padding-bottom: 0;
    }
}